/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  --list-max-width: 860px;
  --vp-layout-max-width: 1440px;
  --vp-nav-height: 64px;
  --vp-sidebar-width: 272px;
}

:root {
  --border-bg: rgb(238, 238, 238);
  --border-radius: 0.5rem;
  --bg: rgba(253, 251, 251, 0.5);
  --gap: 20px;
  --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
    0 2px 4px rgba(232, 227, 247, 0.85);
}

.dark {
  --border-bg: rgb(51, 51, 51);
  --bg: rgb(51, 51, 51);
  --box-shadow: 0 0 0 1px rgba(251, 251, 251, 0.05),
    0 2px 4px rgba(251, 251, 251, 0.05);
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  /* --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff; */
  --vp-c-brand-lightest: #fff37a;
  /* --vp-c-brand-dark: #535bf2; */
  /* --vp-c-brand-darker: #454ce1; */
  --accent-magenta: #ff2e88; /* 链接 hover 下划线 */
  --accent-yellow: #fce300; /* 引用块左边框 + 链接色 */

  --vp-c-brand-lightest: #fff37a;
  --vp-custom-block-tip-bg: #f9f9fa;

  --secondary: #9a9aac;
}

.dark {
  --secondary: #c9c3dc;
}

/**
 * Link
 * -------------------------------------------------------------------------- */

:root {
  --link-hover-color: var(--accent-magenta);
  --link-color: var(--accent-yellow);
  --link-hover-underline-color: var(--accent-magenta);
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --link-transition: all 0.3s ease;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.5);
  --vp-custom-block-tip-text: #155f3e;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
}

.dark {
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.5);
  --vp-custom-block-tip-text: #155f3e;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}
